.content {
    font-variant-numeric:normal;
    font-weight:300;
    height:686.141px;
    line-height:30.8px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    max-width:896px;
    padding-bottom:56px;
    padding-left:93.3333px;
    padding-right:93.3333px;
    padding-top:93.3333px;
    text-align:left;
    text-size-adjust:100%;
    transition-delay:0s, 0s;
    transition-duration:0.75s, 0.75s;
    transition-property:opacity, transform;
    transition-timing-function:ease-in-out, ease-in-out;
    vertical-align:baseline;
    width:645px;
}
.image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 600px;
    right: 0;   
}
.major {
    border-bottom-color:rgb(0, 0, 0);
    initialhtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 0, 0);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(0, 0, 0);
    border-top-style:none;
    border-top-width:0px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    display:block;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    font-size:23.3333px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:300;
    height:304px;
    line-height:38.5px;
    margin-block-end:37.3333px;
    margin-block-start:0px;
    margin-bottom:37.3333px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-align:left;
    text-size-adjust:100%;
    vertical-align:baseline;
    width:458.344px;
} 
h1 {
    border-bottom-color:rgb(0, 0, 0);
    initialhtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 0, 0);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(0, 0, 0);
    border-top-style:none;
    border-top-width:0px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    display:block;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    font-size:65.3333px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:300;
    height:78px;
    letter-spacing:-3.26667px;
    line-height:78.4px;
    margin-block-end:18.6667px;
    margin-block-start:0px;
    margin-bottom:18.6667px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-align:left;
    text-size-adjust:100%;
    vertical-align:baseline;
    width:458.344px;
}
.action {
    border-bottom-color:rgb(0, 0, 0);
    initialhtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 0, 0);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(0, 0, 0);
    border-top-style:none;
    border-top-width:0px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    cursor:default;
    display:flex;
    flex-direction:column;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    font-size:18.6667px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:300;
    height:61.5px;
    line-height:30.8px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-block-end:37.3333px;
    margin-block-start:0px;
    margin-bottom:37.3333px;
    margin-inline-end:0px;
    margin-inline-start:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    padding-inline-start:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-align:left;
    text-size-adjust:100%;
    vertical-align:baseline;
    width:458.344px;
}
.button {
    background-color:rgba(0, 0, 0, 0);
    border-bottom-color:rgb(0, 0, 0);
    initialinput[type="submit"], input[type="reset"], input[type="button"], button, .button
    initialhtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    border-bottom-left-radius:52.5px;
    border-bottom-right-radius:52.5px;
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 0, 0);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(0, 0, 0);
    border-top-left-radius:52.5px;
    border-top-right-radius:52.5px;
    border-top-style:none;
    border-top-width:0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 0px 1px inset;
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    cursor:pointer;
    display:inline-block;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    font-size:14px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
    height:52.5px;
    letter-spacing:1.75px;
    line-height:52.5px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    max-width:373.333px;
    min-width:196px;
    overflow-x:hidden;
    overflow-y:hidden;
    padding-bottom:0px;
    padding-left:35px;
    padding-right:35px;
    padding-top:0px;
    text-align:center;
    text-decoration-color:rgb(0, 0, 0);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-overflow:ellipsis;
    text-size-adjust:100%;
    text-transform:uppercase;
    transition-delay:0s, 0s, 0s;
    transition-duration:0.2s, 0.2s, 0.2s;
    transition-property:background-color, box-shadow, color;
    transition-timing-function:ease-in-out, ease-in-out, ease-in-out;
    vertical-align:baseline;
    white-space:nowrap;
    width:196px;
    -webkit-appearance:none;
}
